# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/
ENV/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Pytest cache
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Logs
*.log

# Docker
*.pid
*.pid.lock

# Database
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/